@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

:root {
    --bg-primary: #36393f;
    --bg-secondary: #292b2f;
    --font-primary: #e0e0e0;
    --border-line: #5b5b5b;
}

.wrapper {
    background: var(--bg-primary);
    color: var(--font-primary);
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--bg-secondary);
    padding-block: 1rem;
    border-bottom: .5px solid var(--border-line);
}

header h1 {
    margin-bottom: .5rem;
    text-align: center;
}

header button {
    background: var(--bg-secondary);
    color: var(--font-primary);
    border: 1px solid var(--border-line);
    border-radius: 5px;
    padding: .5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.board {
    display: flex;
    padding: 2.5rem;
    gap: 20px;
    height: calc(100vh - 120px);
    overflow-x: auto;
}

.board::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
}

.board::-webkit-scrollbar {
    height: 10px;
    background-color: var(--border-line);
}

.board::-webkit-scrollbar-thumb {
    background-color: var(--bg-primary);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
    border-radius: 20px;
}

.section {
    min-width: 280px;
    position: relative;
}

.section ul {
    list-style: none;
    border-radius: 10px;
}

.section ul li {
    margin-bottom: 10px;
    background: var(--bg-secondary);
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    position: relative;
}

.section .delete-section-btn {
    background: var(--bg-secondary);
    color: #a7a7a7;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 8px;
    padding: 2px 10px;
}
.task-title {
    font-weight: 500;
    margin-bottom: 10px;
}

.section p {
    font-weight: 300;
    font-size: .8rem;
    overflow-wrap: break-word;
}

.section .delete-btn {
    position: absolute;
    top: 10px;
    right: 8px;
    padding: 2px 10px;
    background: var(--bg-primary);
    color: #a7a7a7;
    border: none;
    cursor: pointer;
}

.section-header {
    font-weight: 500;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--border-line);
    padding-bottom: 5px;
    color: var(--font-primary);
}

.drag-over {
    background: rgba(97, 97, 97, 0.6);
}

.current-drag {
    opacity: .5;
}

.btn-add-task {
    margin-top: 10px;
    width: 100%;
    background: var(--bg-secondary);
    color: var(--font-primary);
    padding-block: 10px;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 10px;
}

.add-task {
    margin-top: 10px;
    padding: 10px;
    background: var(--bg-secondary);
    color: var(--font-primary);
    font-weight: 500;
    font-size: 1rem;
    border-radius: 10px;
}

.title-input{
    width: 100%;
    background: var(--bg-primary);
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    resize: vertical;
    color: var(--font-primary);
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}